<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Ola ! {{ nome }}
Click aqui <a href="https://29tycz0wdi.execute-api.us-east-1.amazonaws.com">{{ email }}</a>

</body>
</html>